body {
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select {
  background-color: #222;
  color: white;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(0, 150, 255, 0.8);
  border-color: rgba(0, 150, 255, 0.8);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

input::placeholder {
  color: #888;
}

.countries {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.country-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.country-card:hover {
  transform: scale(1.1);
}

.country-card img {
  width: 100%;
  border-radius: 5px;
}

.country-card .info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.country-card h2 {
  font-size: 18px;
}

.country-card p {
  font-size: 14px;
  color: #bbbbbb;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23fff' d='M0 0l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  width: 20vw;
  min-width: 120px;
}

select option {
  background-color: #292929;
  color: #ffffff;
}

@media (max-width: 500px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }

  select {
    width: 100%;
  }

  input {
    width: 100%;
  }
}
